.footer__authors {
    margin: 10px 0 0;
}

@media screen and (max-width: 1150px) {
    .footer__authors {
        margin-top: 8px;
    }
}

@media screen and (max-width: 480px) {
    .footer__authors {
        margin-top: 5px;
    }
}