.footer__authors {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(235, 232, 231, 0.5);
}

@media screen and (max-width: 768px) {
  .footer__authors {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
    .footer__authors {
      font-size: 9px;
    }
  }