.how-to-start__title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: right;
  color: #ea7186;
}

/* @media screen and (max-width: 850px) {
  .how-to-start__title {
    text-align: center;
  }
} */

@media screen and (max-width: 768px) {
  .how-to-start__title {
    text-align: center;
    margin: 40px 0;
  }
}