.footer__logo {
    margin: 0;
    height: 121px;
}

@media screen and (max-width: 1150px) {
    .footer__logo {
        width: 100px;
    }
}

@media screen and (max-width: 480px) {
    .footer__logo {
        width: 70px;
    }
}