.footer__contact-us {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.34;
}

@media screen and (max-width: 850px) {
    .footer__contact-us {
        margin-top: 40px;
    }
}

@media screen and (max-width: 480px) {
    .footer__contact-us {
        margin-top: 25px;
    }
}