.section__button {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    line-height: 1.362;
    background-color: #EA7186;
    padding: 16px 50px;
    border: none;
    border-radius: 8px;
    max-width: 453px;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .section__button {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .section__button {
      font-size: 14px;
    }
  }