.section__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content repeat(3 auto);
  grid-template-areas:
    "title img"
    "text img";
}

.section__wrapper:nth-child(2) {
  direction: rtl;
  background: #b6d8f2;
}

@media screen and (max-width: 768px) {
  .section__wrapper {
    grid-template-areas:
      "title title"
      "img img"
      "text text";
  }

  .section__wrapper:nth-child(2) {
    direction: ltr;
  }
}
