.section__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content repeat(3 auto);
  grid-template-areas:
    "title img"
    "text img";
  padding: 80px;
  max-width: 1440px;
  margin: auto;
}

.section__wrapper:nth-child(2) {
  direction: rtl;
}

@media screen and (max-width: 768px) {
  .section__wrapper {
    grid-template-areas:
      "title title"
      "img img"
      "text text";
      padding: 40px;
  }

  .section__wrapper:nth-child(2) {
    direction: ltr;
  }
}

@media screen and (max-width: 400px) {
  .section__wrapper {
      padding: 5px;
  }
}