.footer__products-and-communities {
    display: flex;
    justify-content: space-between;
    min-width: 40%;
}

@media screen and (max-width: 850px) {
    .footer__products-and-communities {
        margin-top: 25px;
        padding-right: 11.7%;
    }
}

@media screen and (max-width: 360px) {
    .footer__products-and-communities {
        padding-right: 0;
        margin-top: 0;
    }
}
