.footer {
    max-width: 1440px;
    background-color: #EA7186;
    padding: 35px 75px;
    color: white;
    line-height: 27.24px;
    margin: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .footer {
        padding: 35px 20px;
    }
}

@media screen and (max-width: 850px) {
    .footer {
        padding: 35px 10%;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 20px 5%;
    }
}