.hamburger {
  margin: 0;
  padding: 0;
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    position: absolute;
    top: 30px;
    right: 0;
    display: block;
    cursor: pointer;
  }
}