.challenge-takers__takers-container {
    box-sizing: border-box;
    margin: 100px auto;
    padding: 0;
    width: 100%;
    display: grid;
    grid-gap: 20px 17px;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-auto-rows: 300px;
    list-style: none;
}