.slider__element {
  width: 420px;
  height: 30px;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
  -webkit-appearance: none;
  background: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  border-radius: 20px;
}

.slider__element::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ea7186;
  cursor: pointer;
}

.slider__element::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ea7186;
  cursor: pointer;
}
