.section__background-wrapper {
    background-color: #b6d8f2;
    clip-path: polygon(0 16%, 100% 0%, 100% 85%, 0% 100%);
}

@media screen and (max-width: 885px) {
    .section__background-wrapper {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}