.slider {
  margin: 20px 0 0;
  padding: 0;
  width: 100%;
  height: 30px;
  -webkit-appearance: none;
  background: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  border-radius: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ea7186;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ea7186;
  cursor: pointer;
}
