.hero__left-bracket {
  margin: 0;
  padding: 0;
  width: 140px;
  height: 100px;
  background-image: url(../../../images/left-bracket.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-70%);
}

@media screen and (max-width: 810px) {
  .hero__left-bracket {
    display: none;
  }
}