.challenge-takers__taker {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: minmax(282px, 1fr);
    grid-template-rows: 80px 220px;
    border-radius: 5px;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
}