.challenge-card__love-icon {
  margin: 0;
  padding: 0;
  width: 96.64px;
  height: 90px;
  background-image: url(../../../images/card-love-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 0 0 8px #ffffff;
  border-radius: 50%;
}