.challenge-card__love-icon {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(../../../images/card-love-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 8px #ffffff;
  border-radius: 50%;
  position: relative;
  bottom: -8%;
}